// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: black;
  color: white;
}

li {
  list-style: none;
  font-size: 30px;
  margin: 10px;
}

a {
  color: aqua;
}